In [32]:
import numpy as np
import pandas as pd
import seaborn as sns

In [22]:
#drivers_df = pd.read_pickle('../drivers.pkl')
#riders_df = pd.read_pickle('../riders.pkl')

drivers_df = pd.read_pickle('D:/University of Edinburgh/All coding stuff/Simulation/Git/Squareshire_simulation/Codes/drivers.pkl')
riders_df = pd.read_pickle('D:/University of Edinburgh/All coding stuff/Simulation/Git/Squareshire_simulation/Codes/riders.pkl')

In [28]:
drivers_df.head()

,id,current_location,origin,become_available,offline_time,status,matched_rider,earnings,current_trip,going_offline,number_of_trips,fuel_cost,total_distance,past_pickup,past_trip,past_fares,past_riders,past_locations
d_0,d_0,"[12.193638165515548, 18.301969089800597]","[2.157828539866089, 0.628583713734685]",[9.385361799537183],[423.9392358270176],offline,None,299.530900,{},True,12,27.755141,138.775707,"[([2.157828539866089, 0.628583713734685], [3.9...","[([3.919657248382904, 0.9045457782107613], [6....","[17.679982049149217, 25.747464738828164, 20.43...","[r_9, r_63, r_23, r_137, r_173, r_181, r_152, ...","[[2.157828539866089, 0.628583713734685], [3.91..."
d_1,d_1,"[19.33412280036921, 13.943325085807007]","[5.795029058275361, 3.2244257450800884]",[9.900317279339458],[477.2458947010026],offline,None,346.872021,{},True,17,32.294901,161.474504,"[([5.795029058275361, 3.2244257450800884], [7....","[([7.135066533871786, 5.618690193747615], [10....","[12.310431870282619, 21.13472490727384, 18.052...","[r_10, r_0, r_92, r_69, r_64, r_25, r_135, r_1...","[[5.795029058275361, 3.2244257450800884], [7.1..."
d_2,d_2,"[18.654569667080267, 17.321277790008168]","[6.752303428072559, 18.858194078250385]",[11.502402850342985],[369.6789306140789],offline,None,237.912011,{},True,12,22.678389,113.391943,"[([6.752303428072559, 18.858194078250385], [11...","[([11.225543951389925, 15.41934359909122], [9....","[13.289727639185712, 11.54596695541206, 12.037...","[r_15, r_44, r_70, r_14, r_6, r_233, r_126, r_...","[[6.752303428072559, 18.858194078250385], [11...."
d_3,d_3,"[19.28706468071973, 3.2745791575834193]","[6.82132702100517, 2.2694704248117814]",[14.056010681255922],[480.5008619713972],offline,None,342.164048,{},True,13,32.124793,160.623965,"[([6.82132702100517, 2.2694704248117814], [5.6...","[([5.696809887549352, 0.7377389470906559], [12...","[25.712387103198488, 14.12749810736862, 9.4457...","[r_21, r_52, r_34, r_142, r_17, r_131, r_280, ...","[[6.82132702100517, 2.2694704248117814], [5.69..."
d_4,d_4,"[3.126339414177217, 14.759018947951843]","[18.809171687058285, 19.078571540051747]",[17.0148989500415],[481.69048918972226],offline,None,367.623424,{},True,12,34.584398,172.921989,"[([18.809171687058285, 19.078571540051747], [1...","[([18.977710745066666, 19.312640661491187], [1...","[30.031302639655355, 34.279263468549175, 31.13...","[r_5, r_58, r_35, r_247, r_329, r_300, r_579, ...","[[18.809171687058285, 19.078571540051747], [18..."

In [24]:
riders_df.head()

,id,current_location,origin,destination,become_available,patience_time,status,driver
r_0,r_0,"[11.973169683940732, 3.1203728088487304]","[11.973169683940732, 3.1203728088487304]","[3.119890406724053, 1.1616722433639892]",[1.5050607154587605],[24.134770373855815],reached_destination,d_1
r_1,r_1,"[14.161451555920909, 0.41168988591604894]","[14.161451555920909, 0.41168988591604894]","[19.398197043239886, 16.648852816008436]",[2.1634335622314853],[2.864251502998821],abandoned,None
r_2,r_2,"[3.6680901970686763, 6.0848448591907545]","[3.6680901970686763, 6.0848448591907545]","[10.495128632644757, 8.638900372842315]",[2.6229746390451174],[4.130675910663821],abandoned,None
r_3,r_3,"[2.7898772130408367, 5.842892970704363]","[2.7898772130408367, 5.842892970704363]","[7.327236865873834, 9.12139968434072]",[2.723314133419949],[18.455232132444767],reached_destination,d_5
r_4,r_4,"[10.284688768272233, 11.84829137724085]","[10.284688768272233, 11.84829137724085]","[0.9290082543999545, 12.150897038028766]",[3.1964995703698484],[2.243535023737971],reached_destination,d_9

In [46]:
print('Total drivers who were generated by the simulation were:', drivers_df['id'].count())
print('Total riders who were generated by the simulation were:', riders_df['id'].count())

print('\nRiders to Driver ratio:', (riders_df['id'].count()/drivers_df['id'].count()))

print('\nThis implies that our exponential generation of Riders-Drivers is indeed working\n Now a driver has to fulfill atleast', round((riders_df['id'].count()/drivers_df['id'].count())), 'For complete satisfaction of customers and profit generation')

Total drivers who were generated by the simulation were: 59
Total riders who were generated by the simulation were: 1990

Riders to Driver ratio: 33.728813559322035

This implies that our exponential generation of Riders-Drivers is indeed working
 Now a driver has to fulfill atleast 34 For complete satisfaction of customers and profit generation

In [50]:
print(riders_df['status'].unique())


Rides_Fulfilled = (riders_df['status'] == 'reached_destination').sum()
Rides_Abandoned = (riders_df['status'] == 'abandoned').sum()
Rider_in_transit = (riders_df['status'] == 'transit').sum()
Rider_waiting = (riders_df['status'] == 'waiting').sum()

print('Total rides fulfilled:', Rides_Fulfilled )
print('Total rides Abandoned:', Rides_Abandoned)
print('Total rider which were in transit while the simulation was terminated:', Rider_in_transit)
print('Total rider which were waiting for a driver while the simulation was terminated:', Rider_waiting)

print('\nBefore classifying transit and waiting into abandoned and fulfilled \n Ride Fulfillment Percentage: ',(Rides_Fulfilled/Rides_Abandoned)*100)

print('\n We are missing some riders bruh')

['reached_destination' 'abandoned' 'transit' 'Waiting']
Total rides fulfilled: 623
Total rides Abandoned: 1320
Total rider which were in transit while the simulation was terminated: 24
Total rider which were waiting for a driver while the simulation was terminated: 0

Before classifying transit and waiting into abandoned and fulfilled
 Ride Fulfillment Percentage:  47.196969696969695

 We are missing some riders bruh